ml-service/n8n/workflows/ingestion/ingest-instagram-nightly-fixed.json
{
  "name": "ingest-instagram-nightly",
  "_fix_notes": [
    "NEW FILE — Instagram split from the combined ingest-meta-nightly workflow",
    "1. Base URL: graph.facebook.com (NOT graph.instagram.com — that is legacy Basic Display API)",
    "2. Correct Instagram metric names for Business/Creator accounts via v18+:",
    "   impressions, reach, total_interactions, profile_views, follower_count",
    "3. Correct period: day with since/until unix timestamps for yesterday's window",
    "4. Auth: Authorization Bearer header",
    "5. Init - Channel State preserves channel_id after HTTP call",
    "6. IF gate on API success before Transform",
    "7. platform field included in DB upsert",
    "8. ON CONFLICT DO UPDATE upsert",
    "9. Failure log path separate from success",
    "",
    "REQUIRED PERMISSIONS on Instagram token:",
    "  instagram_basic, instagram_manage_insights, pages_show_list, pages_read_engagement",
    "  account_id must be the Instagram Business Account numeric ID (not @handle)"
  ],
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "days", "interval": 1, "triggerAtHour": 2, "triggerAtMinute": 5 }
          ]
        }
      },
      "name": "Trigger - Daily 2:05 AM UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS channel_id, account_id, access_token FROM channels WHERE platform = 'instagram' AND connected_status = 'connected';"
      },
      "name": "Query - Connected Instagram",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [300, 300],
      "credentials": {
        "postgres": { "id": "jtNPm35xuYntlcNR", "name": "PostgreSQL - Marketing Hub" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Snapshot channel context and compute yesterday date window\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst since = Math.floor(new Date(yesterday.toISOString().split('T')[0] + 'T00:00:00Z').getTime() / 1000);\nconst until = Math.floor(new Date(yesterday.toISOString().split('T')[0] + 'T23:59:59Z').getTime() / 1000);\n\nreturn $input.all().map(item => ({\n  json: {\n    channel_id:   item.json.channel_id,\n    account_id:   item.json.account_id,\n    access_token: item.json.access_token,\n    platform:     'instagram',\n    metric_date:  yesterday.toISOString().split('T')[0],\n    since,\n    until\n  }\n}));"
      },
      "name": "Init - Channel State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.account_id }}/insights",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "metric", "value": "impressions,reach,total_interactions,profile_views,follower_count" },
            { "name": "period", "value": "day" },
            { "name": "since", "value": "={{ $json.since }}" },
            { "name": "until", "value": "={{ $json.until }}" }
          ]
        },
        "authentication": "none",
        "options": {}
      },
      "name": "API - Instagram Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.error }}", "operation": "isEmpty" }
          ]
        }
      },
      "name": "IF - API Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const apiItems = $input.all();\nconst channelItems = $('Init - Channel State').all();\n\nreturn apiItems.map((apiItem, idx) => {\n  const channel = channelItems[idx]?.json || {};\n  const data = apiItem.json.data || [];\n\n  let reach = 0, impressions = 0, engagement = 0, profileViews = 0, followerCount = 0;\n\n  data.forEach(metric => {\n    const val = metric.values?.[0]?.value || 0;\n    if (metric.name === 'reach')              reach = val;\n    if (metric.name === 'impressions')        impressions = val;\n    if (metric.name === 'total_interactions') engagement = val;\n    if (metric.name === 'profile_views')      profileViews = val;\n    if (metric.name === 'follower_count')     followerCount = val;\n  });\n\n  return {\n    json: {\n      channel_id:         channel.channel_id,\n      platform:           'instagram',\n      metric_date:        channel.metric_date,\n      reach:              parseInt(reach),\n      impressions:        parseInt(impressions),\n      engagements:        parseInt(engagement),\n      clicks:             0,\n      likes:              0,\n      comments:           0,\n      shares:             0,\n      saves:              0,\n      video_views:        0,\n      watch_time_seconds: 0,\n      profile_visits:     parseInt(profileViews),\n      follower_count:     parseInt(followerCount),\n      created_at:         new Date().toISOString()\n    }\n  };\n});"
      },
      "name": "Transform - Instagram Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO post_metrics (\n  channel_id, platform, metric_date,\n  reach, impressions, engagements, clicks,\n  likes, comments, shares, saves,\n  video_views, watch_time_seconds, profile_visits, follower_count,\n  created_at\n) VALUES (\n  '{{ $json.channel_id }}', '{{ $json.platform }}', '{{ $json.metric_date }}',\n  {{ $json.reach }}, {{ $json.impressions }}, {{ $json.engagements }}, {{ $json.clicks }},\n  {{ $json.likes }}, {{ $json.comments }}, {{ $json.shares }}, {{ $json.saves }},\n  {{ $json.video_views }}, {{ $json.watch_time_seconds }}, {{ $json.profile_visits }}, {{ $json.follower_count }},\n  '{{ $json.created_at }}'\n)\nON CONFLICT (channel_id, metric_date)\nDO UPDATE SET\n  reach          = EXCLUDED.reach,\n  impressions    = EXCLUDED.impressions,\n  engagements    = EXCLUDED.engagements,\n  profile_visits = EXCLUDED.profile_visits,\n  follower_count = EXCLUDED.follower_count,\n  created_at     = EXCLUDED.created_at;"
      },
      "name": "DB - Upsert Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1300, 200],
      "credentials": {
        "postgres": { "id": "jtNPm35xuYntlcNR", "name": "PostgreSQL - Marketing Hub" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO action_log (action_type, resource_type, actor, actor_type, status, details, created_at)\nVALUES ('workflow_execution', 'ingestion', 'n8n', 'system', 'success',\n  '{{ JSON.stringify({ workflow: \"ingest-instagram-nightly\", metrics_count: $input.all().length }) }}',\n  now());"
      },
      "name": "DB - Log Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1500, 200],
      "credentials": {
        "postgres": { "id": "jtNPm35xuYntlcNR", "name": "PostgreSQL - Marketing Hub" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO action_log (action_type, resource_type, actor, actor_type, status, details, created_at)\nVALUES ('workflow_execution', 'ingestion', 'n8n', 'system', 'failure',\n  '{{ JSON.stringify({ workflow: \"ingest-instagram-nightly\", error: $json.error }) }}',\n  now());"
      },
      "name": "DB - Log Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1100, 450],
      "credentials": {
        "postgres": { "id": "jtNPm35xuYntlcNR", "name": "PostgreSQL - Marketing Hub" }
      }
    }
  ],
  "connections": {
    "Trigger - Daily 2:05 AM UTC":  { "main": [[{ "node": "Query - Connected Instagram",   "type": "main", "index": 0 }]] },
    "Query - Connected Instagram":  { "main": [[{ "node": "Init - Channel State",           "type": "main", "index": 0 }]] },
    "Init - Channel State":         { "main": [[{ "node": "API - Instagram Insights",        "type": "main", "index": 0 }]] },
    "API - Instagram Insights":     { "main": [[{ "node": "IF - API Success",                "type": "main", "index": 0 }]] },
    "IF - API Success": {
      "main": [
        [{ "node": "Transform - Instagram Metrics", "type": "main", "index": 0 }],
        [{ "node": "DB - Log Failure",              "type": "main", "index": 0 }]
      ]
    },
    "Transform - Instagram Metrics": { "main": [[{ "node": "DB - Upsert Metrics", "type": "main", "index": 0 }]] },
    "DB - Upsert Metrics":           { "main": [[{ "node": "DB - Log Success",    "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {}
}
