ml-service/n8n/workflows/publishing/publish-to-meta.json
{
  "name": "publish-to-meta",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "interval": 1
            }
          ]
        }
      },
      "name": "Trigger - Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.id, p.content_text, p.media_urls, p.format_metadata, c.platform, c.access_token, c.account_id FROM posts p JOIN channels c ON p.channel_id = c.id WHERE p.status = 'scheduled' AND p.scheduled_at <= NOW() AND c.platform = 'facebook' ORDER BY p.scheduled_at ASC LIMIT 50;"
      },
      "name": "Query - Scheduled Meta Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": "PostgreSQL - Marketing Hub"
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "conditions_0",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Branch - Posts Exist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Split - Per Post",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Resolve media_urls — may be a JSON string, array, or null\nlet mediaUrls = [];\nif (item.media_urls) {\n  try {\n    mediaUrls = typeof item.media_urls === 'string'\n      ? JSON.parse(item.media_urls)\n      : item.media_urls;\n  } catch (e) {\n    mediaUrls = [];\n  }\n}\n\n// Resolve format_metadata\nlet formatMeta = {};\nif (item.format_metadata) {\n  try {\n    formatMeta = typeof item.format_metadata === 'string'\n      ? JSON.parse(item.format_metadata)\n      : item.format_metadata;\n  } catch (e) {\n    formatMeta = {};\n  }\n}\n\nconst hasMedia = mediaUrls.length > 0;\nconst postType = hasMedia ? 'photo' : 'text';\n\n// access_token field must hold a usable (decrypted) token.\n// If your pipeline stores tokens encrypted, add your decryption\n// logic here before this node, and pass the result in as access_token.\nif (!item.access_token) {\n  throw new Error(`Missing access_token for post id=${item.id}. Ensure the channels table stores a usable token in the access_token column.`);\n}\n\nreturn {\n  json: {\n    post_id: item.id,\n    account_id: item.account_id,\n    access_token: item.access_token,\n    content_text: item.content_text,\n    media_urls: mediaUrls,\n    format_meta: formatMeta,\n    post_type: postType,\n    has_media: hasMedia\n  }\n};"
      },
      "name": "Transform - Prepare Post Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "conditions_media",
              "leftValue": "={{ $json.has_media }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Branch - Text or Photo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.account_id }}/photos",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "caption",
              "value": "={{ $json.content_text }}"
            },
            {
              "name": "url",
              "value": "={{ $json.media_urls[0] }}"
            },
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "API - Meta Publish (Photo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.account_id }}/feed",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.content_text }}"
            },
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "API - Meta Publish (Text)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.first().json;\n\n// Meta returns { id: '...' } on success and { error: { message, type, code } } on failure\nif (apiResponse.error) {\n  throw new Error(\n    `Meta API error [code ${apiResponse.error.code}]: ${apiResponse.error.message} (type: ${apiResponse.error.type})`\n  );\n}\n\nif (!apiResponse.id) {\n  throw new Error('Meta API returned no post id and no error — unexpected response: ' + JSON.stringify(apiResponse));\n}\n\nreturn {\n  json: {\n    external_post_id: apiResponse.id,\n    post_id: $('Transform - Prepare Post Payload').first().json.post_id\n  }\n};"
      },
      "name": "Transform - Validate API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE posts SET status = 'published', published_at = NOW(), external_post_id = $1 WHERE id = $2;",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([\n  $json.external_post_id,\n  $json.post_id\n]) }}"
        }
      },
      "name": "DB - Update Post Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1850, 200],
      "credentials": {
        "postgres": "PostgreSQL - Marketing Hub"
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO action_log (action_type, resource_type, resource_id, actor, actor_type, status, details, created_at) VALUES ('post_publish', 'post', $1, 'n8n', 'system', 'success', $2, NOW());",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([\n  $json.post_id,\n  JSON.stringify({ platform: 'meta', external_id: $json.external_post_id })\n]) }}"
        }
      },
      "name": "DB - Log Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2050, 200],
      "credentials": {
        "postgres": "PostgreSQL - Marketing Hub"
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE posts SET status = 'failed', published_at = NULL WHERE id = $1;\nINSERT INTO action_log (action_type, resource_type, resource_id, actor, actor_type, status, details, created_at) VALUES ('post_publish', 'post', $1, 'n8n', 'system', 'error', $2, NOW());",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([\n  $('Transform - Prepare Post Payload').first().json.post_id || null,\n  JSON.stringify({ platform: 'meta', error: $input.first().json.message || 'Unknown error' })\n]) }}"
        }
      },
      "name": "DB - Log & Mark Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2050, 400],
      "credentials": {
        "postgres": "PostgreSQL - Marketing Hub"
      },
      "executeOnError": true
    }
  ],
  "connections": {
    "Trigger - Hourly": {
      "main": [[{ "node": "Query - Scheduled Meta Posts", "type": "main", "index": 0 }]]
    },
    "Query - Scheduled Meta Posts": {
      "main": [[{ "node": "Branch - Posts Exist?", "type": "main", "index": 0 }]]
    },
    "Branch - Posts Exist?": {
      "main": [
        [{ "node": "Split - Per Post", "type": "main", "index": 0 }],
        []
      ]
    },
    "Split - Per Post": {
      "main": [[{ "node": "Transform - Prepare Post Payload", "type": "main", "index": 0 }]]
    },
    "Transform - Prepare Post Payload": {
      "main": [[{ "node": "Branch - Text or Photo?", "type": "main", "index": 0 }]]
    },
    "Branch - Text or Photo?": {
      "main": [
        [{ "node": "API - Meta Publish (Photo)", "type": "main", "index": 0 }],
        [{ "node": "API - Meta Publish (Text)", "type": "main", "index": 0 }]
      ]
    },
    "API - Meta Publish (Photo)": {
      "main": [[{ "node": "Transform - Validate API Response", "type": "main", "index": 0 }]]
    },
    "API - Meta Publish (Text)": {
      "main": [[{ "node": "Transform - Validate API Response", "type": "main", "index": 0 }]]
    },
    "Transform - Validate API Response": {
      "main": [[{ "node": "DB - Update Post Status", "type": "main", "index": 0 }]]
    },
    "DB - Update Post Status": {
      "main": [[{ "node": "DB - Log Success", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "errorWorkflow": "",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}